/*
*
*
*    MODIFS PERSO
*
*
*
*/

#container_caroussel {
    width: 803px;   /* MODIFICATION FARES ancienne:; 95% */
    padding: 0%;    
    margin: auto;
}
@media (max-width: 1200px) {
    #container_caroussel {
        width: 95%;   /* MODIFICATION FARES ancienne:; 95% */
        padding: 0%;    
        margin: auto;
    }
}

div#container_caroussel div .slick-prev::before, 
div#container_caroussel div .slick-next::before {
    color: #0299d2;
}

div.myCaroussel_footer div.wagonnet {
    margin-left: 35px;
}

#optimis_link {
    text-align: center;
    margin-top: 45px;
}

.switchOff {
    display: none;
}

.slick-slide{
/*margin-left : 1.1%;*/
margin-right: auto;
}

#presentation_{
    display: none;
}

#presentation_avea{
    display: block;
    margin-bottom: 40px;
}

.title_avea{
    border-bottom: 1px solid black;
    text-align: center;
    width: 450px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: #A4842A;
}

.p_avea{
    color: black;    
    margin: 0;
}

.ul_avea{
    color: black;
    list-style: none;
    padding: 0;
}

.ul_avea li:before{
    content: "■   ";
    color: #A4842A;
}

.ul_text_support_avea{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    list-style: none;
}

.li_text_support_avea{
    display: inline;
}

.li_contener_avea{
    display: inline-block;
    width: 400px;
    vertical-align: top;
}

.button_avea{
    border: 0.5px solid gray;
    float: right;
    padding: 10px;
    background-color: #A4842A;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.button_avea:hover{
    /*color: black;*/
    background-color: #4A58FF;
}

form#clientLogin.form1_new_user_{
    display: block;
}

form#clientLogin.form1_new_user_ok{
    display: none;
}

form#clientLogin.form2_new_user_{
    display: none;
}

form#clientLogin.form2_new_user_ok{
    display: block;
}

.maj_mdp_{
    display: none;
}

.maj_mdp_ok{
    display: inline;
    padding-top:4px;
}

#clientLogin.form2_new_user_ok input[type="text"],
#clientLogin.form2_new_user_ok input[type="email"]{
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 15px;
}

input.form2_new_user:valid{
    box-shadow: 0 0 2px 1px green;
}

nput.form2_new_user:invalid{
    box-shadow: 0 0 2px 1px red;
}

#finNewUser{
    color: red;
}